:root{
   --dark-bg-color: #000C14;
   --dark-bg-main-color:#001524;
   --dar-bg-seconday-color: #9AADBF;
   --dark-bg-tertiary-color: #6D98BA;
   --dark-bg-text-color:#9AADBF;

   --light-bg-color:#e7ecef;
    --light-bg-main-color:#34496633;
    --light-bg-secondary-color:#b4cded;
    --light-bg-tertiary-color:#274c77:
    --light-bg-text-color:rgb(3,14,27);
    
}
.loader-container-dark{
   display: flex; 
   justify-content: center;
   align-items: center;
   width: 100%;
   min-height:100%;
   background: var(--dark-bg-color);
}
.loader-container-light{
   display: flex; 
   justify-content: center;
   align-items: center;
   width: 100%;
   min-height:100%;
   background: var(--light-bg-color);
}
